*{
    padding: 0;
    margin: 0;
}

.estra_logo{
    background: url(../img/estra_logo.png) no-repeat
     bottom;
    background-size: contain;
    height: 130px;
    width: 130px;   
    position: relative;
    top: -100px; left:30px;
    
  
}



.header-nav-list {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    position: absolute; top:30px; right:30px;
  }
  
  .firstview{
    background: url(../img/firstview.jpg) no-repeat bottom;
    background-size: contain;
    position: absolute; top:70px; right:0px;
    height: 700px;
    width: 1000px;
    
    
}

  .a{
    position: absolute; top:200px; left:280px;
    font-size: 55px; color: #f3f;
    font-family: cursive;
  }

  .font {
      font-size: 55px; color: #0fc;
  }

  .b{
    position: absolute; top:400px; left:280px;
    font-size: 20px; color: #f3f;
    font-family: cursive;
  }

  .font2{
    font-size: 20px; color: #0fc;
  }

  .c{
    position: absolute; top:430px; left:280px;
    font-size: 15px; color: #808080;
    font-family: cursive;
  }

  .header-nav-item {
    list-style: none;
    font-size: 20px;
  }
  
  .header-nav-item:not(:last-of-type){
    margin-right: 20px;
  }
  
  .header-nav-item-link {
    text-decoration: none;
    color: #808080;
  }

  .d{
      color:#c06;
      font-size: 10px;
      position:absolute; top:850px; left:300px;
  }

  .e{
      color:#808080;
      position: absolute; top:880px; left: 300px;
      font-size: 30px;
  }

  .f{
      width:800px;
      padding:10px 0;
      position:absolute; top:1000px; left:100px;
      display: flex;
  }
  
.f2 {
    width:100px;
    padding: 0px 0px;
    color: #fff;
    border-radius :30px;
    background: #c06;
    text-align: center;  

    
}

.l{
    color: #c06;
    font-size:5px;
    position:absolute; top:1200px; right:300px;


}

.n{
    color:#808080;
    font-size: 20px;
    position:absolute; top:1300px; right:300px;
}

.about{
    background: url(../img/about.jpg) no-repeat bottom;
    background-size: contain;
    height: 400px;
    width: 400px;
    position: absolute; top:1500px; right:300px;
}

.m{
    color:#808080;
    font-size :10px;
    position:absolute; top:1500px; left:300px;
}

.blog_first{
    background: url(../img/blog__first.jpg) no-repeat bottom;
    background-size: contain;
    height: 200px;
    width: 200px;
    position: absolute; top: 3000px;
}

.recruit{
    background:url(../img/recruit.png) no-repeat bottom;
    background-size: contain;
    height: 200px;
    width:300px;
    position: absolute; top:3500px;
}

.interview{
    background: url(../img/interview.png) no-repeat bottom;
    background-size: contain;
    height: 200px;
    width: 300px;
    position: absolute; top:4000px;
}


  
  
  
  
  
  